backend:
  name: git-gateway
  branch: site

publish_mode: editorial_workflow

media_folder: "files"
public_folder: "/files"

display_url: https://ccsource.org

slug:
  encoding: "unicode"

collections:
  - name: "story"
    label: "Story"
    folder: "_posts"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    preview: false
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "標題", name: "title", widget: "string", required: true}
      - {label: "筆名", name: "author", widget: "string", required: true}
      - {label: "簡介", name: "excerpt", widget: "string", required: false}
      - {label: "comments", name: "comments", widget: "hidden", default: true}
      - label: "發布日期"
        name: "date"
        widget: "date"
        default: ""
        format: "YYYY-MM-DD"
        required: true
      - {label: "文章", name: "body", widget: "markdown", required: true}
      - label: "標籤"
        name: "tag"
        widget: "list"
        allow_add: true
        default: ["story"]
        required: false