backend:
  name: git-gateway
  branch: site

publish_mode: editorial_workflow

editor:
  preview: false

media_folder: "files"
public_folder: "/files"

display_url: https://ccsource.org

slug:
  encoding: "unicode"

collections:
  - name: "story"
    label: "Story"
    folder: "_posts"
    filter: {field: "project", value: false||null||undefined}
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    delete: false
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "是否為計畫", name: "project", widget: "boolean", default: false}
      - {label: "標題", name: "title", widget: "string", required: true}
      - {label: "筆名", name: "author", widget: "string", required: true}
      - {label: "發布時間", name: "date", widget: "datetime", required: true}
      - {label: "簡介", name: "excerpt", widget: "string", required: false}
      - {label: "comments", name: "comments", widget: "hidden", default: true}
      - {label: "文章", name: "body", widget: "markdown", required: true}
      - label: "標籤"
        name: "tag"
        widget: "list"
        allow_add: true
        default: ["story"]
        required: false
  - name: "project"
    label: "Project"
    folder: "_posts"
    filter: {field: "project", value: true}
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    delete: false
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "是否為計畫", name: "project", widget: "boolean", default: true}
      - {label: "標題", name: "title", widget: "string", required: true}
      - {label: "筆名", name: "author", widget: "string", required: true}
      - {label: "發布時間", name: "date", widget: "datetime", required: true}
      - {label: "簡介", name: "excerpt", widget: "string", required: false}
      - {label: "comments", name: "comments", widget: "hidden", default: true}
      - {label: "文章", name: "body", widget: "markdown", required: true}
      - label: "標籤"
        name: "tag"
        widget: "list"
        allow_add: true
        default: ["story"]
        required: false
